html,
body {
  background-color: #20b2aa;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.btn {
  background-color: black;
  border-style: solid;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 15px;
  margin: 5px 16px; 
  width: 250px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid green;
}

.modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 20px;
  left: 30px;
  width: 30%;
  height: 30%;
  display: block;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: inline;
  background: none;
  color: SlateBlue;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  text-align: center;
}

.modal-body {
  background-color: #add8e6;
}
