

html,
body {
  background-color: #20b2aa;
  font-family: "Verdana", sans-serif;  
}


.btn {
  background-color: black;
  border-style: solid;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inLine-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid green;
}

.modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 20px;
  left: 30px;
  width: 30%;
  height: 30%;
  display: block;
} 

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 50%;
  max-width: 500px;
  text-align: center;
}


.modal-close {
  float: right;
  -webkit-appearance: none;
  border: inline;
  background: none;
  color: SlateBlue;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  text-align: center;
}

.modal-body {
    background-color: #add8e6;
}
