body {
    background-color: #d3d3d3;
    font-family: 'Verdana',sans-serif;
    color: #20b2aa;
    margin: auto;
    justify-content: center;
    padding: 40px;
    font-size: 25px;
    line-height: 2;
}  

.button-class{
    background-color: lightblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inLine-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
}
